**Libraries Importation**

In [158]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rc('font', family ='Times New Roman')

**Data Importation**

In [159]:
data = pd.read_csv("C:/Users/user/Desktop/Final_Data/Export_Output.txt", delimiter=',')
data

,FID,OBJECTID,pointid,grid_code,b1_Landsat,b2_Landsat,b3_Landsat,b4_Landsat,b5_Landsat,b6_Landsat,b7_Landsat,post_fire_
0,0,1,334,2/2169099,9737,11857,13187,8550,8830,8259,8163,2/2169099
1,1,2,335,3/2005000,9205,10920,12907,8453,8774,8112,7919,3/2005000
2,2,3,336,2/7512801,9043,10756,12905,8351,8704,8046,7849,2/7512801
3,3,4,337,1/6590900,9432,11167,12507,8565,8838,8281,8153,1/6590900
4,4,5,338,2/4833300,8980,10595,12175,8266,8519,7965,7813,2/4833300
...,...,...,...,...,...,...,...,...,...,...,...,...
12354,12354,12355,329,1/1861100,9850,12082,13368,8537,8784,8165,8094,1/1861100
12355,12355,12356,330,1/3990200,8958,10796,13376,8412,8733,8088,8023,1/3990200
12356,12356,12357,331,1/5527300,10093,12198,12854,8717,8808,8286,8211,1/5527300
12357,12357,12358,332,3/3263199,9153,11153,13712,8442,8787,8004,7881,3/3263199
12358,12358,12359,333,1/2116100,11208,14159,14235,9023,9113,8420,8319,1/2116100

**Fixing data type in labele column.**

In [160]:
for i in range(12359):
    data['post_fire_'][i] = data['post_fire_'][i].replace('/','.')
     
data

C:\Users\user\AppData\Local\Temp\ipykernel_8932\3064742925.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['post_fire_'][i] = data['post_fire_'][i].replace('/','.')

,FID,OBJECTID,pointid,grid_code,b1_Landsat,b2_Landsat,b3_Landsat,b4_Landsat,b5_Landsat,b6_Landsat,b7_Landsat,post_fire_
0,0,1,334,2/2169099,9737,11857,13187,8550,8830,8259,8163,2.2169099
1,1,2,335,3/2005000,9205,10920,12907,8453,8774,8112,7919,3.2005000
2,2,3,336,2/7512801,9043,10756,12905,8351,8704,8046,7849,2.7512801
3,3,4,337,1/6590900,9432,11167,12507,8565,8838,8281,8153,1.6590900
4,4,5,338,2/4833300,8980,10595,12175,8266,8519,7965,7813,2.4833300
...,...,...,...,...,...,...,...,...,...,...,...,...
12354,12354,12355,329,1/1861100,9850,12082,13368,8537,8784,8165,8094,1.1861100
12355,12355,12356,330,1/3990200,8958,10796,13376,8412,8733,8088,8023,1.3990200
12356,12356,12357,331,1/5527300,10093,12198,12854,8717,8808,8286,8211,1.5527300
12357,12357,12358,332,3/3263199,9153,11153,13712,8442,8787,8004,7881,3.3263199
12358,12358,12359,333,1/2116100,11208,14159,14235,9023,9113,8420,8319,1.2116100

**Picking 4000 random samples.**

In [161]:
random_data = data.sample(n = 5000)
random_data

,FID,OBJECTID,pointid,grid_code,b1_Landsat,b2_Landsat,b3_Landsat,b4_Landsat,b5_Landsat,b6_Landsat,b7_Landsat,post_fire_
6203,6203,6204,6537,2/1304600,9778,11813,12860,8560,8718,8195,8111,2.1304600
8451,8451,8452,8785,5/1101999,11758,15041,14109,9137,9208,8527,8434,5.1101999
1392,1392,1393,1726,1/4538900,10973,13302,14336,9395,9347,8481,8166,1.4538900
1786,1786,1787,2120,2/5613000,11339,13778,13108,9268,9221,8583,8393,2.5613000
9194,9194,9195,9528,1/7025800,11126,13373,11879,9297,9057,8419,8189,1.7025800
...,...,...,...,...,...,...,...,...,...,...,...,...
10588,10588,10589,10922,2/8963799,10115,12283,13955,8788,8858,7932,7616,2.8963799
8195,8195,8196,8529,5/1455002,9129,10963,12860,8334,8617,7928,7755,5.1455002
2597,2597,2598,2931,1/1395400,9334,11179,13101,8526,8788,8089,7896,1.1395400
11564,11564,11565,11898,3/0015800,8696,10079,12074,8064,8332,7780,7681,3.0015800
10042,10042,10043,10376,1/9378700,9775,11517,11900,8643,8724,8257,8108,1.9378700

**Checking for missing data.**

In [162]:
null = random_data.isnull().sum()
null

FID           0
OBJECTID      0
pointid       0
grid_code     0
b1_Landsat    0
b2_Landsat    0
b3_Landsat    0
b4_Landsat    0
b5_Landsat    0
b6_Landsat    0
b7_Landsat    0
post_fire_    0
dtype: int64

**Forming Feature & Labele data frames.**

In [163]:
feature_columns = ['b1_Landsat', 'b2_Landsat', 'b3_Landsat', 'b4_Landsat','b5_Landsat', 'b6_Landsat', 'b7_Landsat']
features = random_data[feature_columns]

label_columns = ['post_fire_']
labels = random_data[label_columns]

features.shape , features , labels.shape , labels

((5000, 7),
        b1_Landsat  b2_Landsat  b3_Landsat  b4_Landsat  b5_Landsat  b6_Landsat  \
 6203         9778       11813       12860        8560        8718        8195
 8451        11758       15041       14109        9137        9208        8527
 1392        10973       13302       14336        9395        9347        8481
 1786        11339       13778       13108        9268        9221        8583
 9194        11126       13373       11879        9297        9057        8419
 ...           ...         ...         ...         ...         ...         ...
 10588       10115       12283       13955        8788        8858        7932
 8195         9129       10963       12860        8334        8617        7928
 2597         9334       11179       13101        8526        8788        8089
 11564        8696       10079       12074        8064        8332        7780
 10042        9775       11517       11900        8643        8724        8257

        b7_Landsat
 6203         8111
 8451         8434
 1392         8166
 1786         8393
 9194         8189
 ...           ...
 10588        7616
 8195         7755
 2597         7896
 11564        7681
 10042        8108

 [5000 rows x 7 columns],
 (5000, 1),
       post_fire_
 6203   2.1304600
 8451   5.1101999
 1392   1.4538900
 1786   2.5613000
 9194   1.7025800
 ...          ...
 10588  2.8963799
 8195   5.1455002
 2597   1.1395400
 11564  3.0015800
 10042  1.9378700

 [5000 rows x 1 columns])

**Adding NDVI**

In [164]:
NDVI = ((features['b5_Landsat']-features['b4_Landsat'])/(features['b5_Landsat'] + features['b4_Landsat'] ))
features['NDVI'] = NDVI
features

C:\Users\user\AppData\Local\Temp\ipykernel_8932\328833445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['NDVI'] = NDVI

,b1_Landsat,b2_Landsat,b3_Landsat,b4_Landsat,b5_Landsat,b6_Landsat,b7_Landsat,NDVI
6203,9778,11813,12860,8560,8718,8195,8111,0.009145
8451,11758,15041,14109,9137,9208,8527,8434,0.003870
1392,10973,13302,14336,9395,9347,8481,8166,-0.002561
1786,11339,13778,13108,9268,9221,8583,8393,-0.002542
9194,11126,13373,11879,9297,9057,8419,8189,-0.013076
...,...,...,...,...,...,...,...,...
10588,10115,12283,13955,8788,8858,7932,7616,0.003967
8195,9129,10963,12860,8334,8617,7928,7755,0.016695
2597,9334,11179,13101,8526,8788,8089,7896,0.015132
11564,8696,10079,12074,8064,8332,7780,7681,0.016345
10042,9775,11517,11900,8643,8724,8257,8108,0.004664

**Adding EVI**

In [165]:
EVI = ((features['b4_Landsat']- features['b3_Landsat']) / (features['b4_Landsat'] + (6*features['b3_Landsat']) - (7.5 * features['b1_Landsat']) +1 ))
features['EVI'] = EVI
features

C:\Users\user\AppData\Local\Temp\ipykernel_8932\1884314491.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['EVI'] = EVI

,b1_Landsat,b2_Landsat,b3_Landsat,b4_Landsat,b5_Landsat,b6_Landsat,b7_Landsat,NDVI,EVI
6203,9778,11813,12860,8560,8718,8195,8111,0.009145,-0.347166
8451,11758,15041,14109,9137,9208,8527,8434,0.003870,-0.886749
1392,10973,13302,14336,9395,9347,8481,8166,-0.002561,-0.376759
1786,11339,13778,13108,9268,9221,8583,8393,-0.002542,-1.335885
9194,11126,13373,11879,9297,9057,8419,8189,-0.013076,0.898712
...,...,...,...,...,...,...,...,...,...
10588,10115,12283,13955,8788,8858,7932,7616,0.003967,-0.310209
8195,9129,10963,12860,8334,8617,7928,7755,0.016695,-0.265805
2597,9334,11179,13101,8526,8788,8089,7896,0.015132,-0.267106
11564,8696,10079,12074,8064,8332,7780,7681,0.016345,-0.262280
10042,9775,11517,11900,8643,8724,8257,8108,0.004664,-0.483845

**Adding NDWI**

In [166]:
NDWI  = ((features['b5_Landsat']-features['b3_Landsat'])/(features['b5_Landsat'] + features['b3_Landsat'] ))
features['NDWI'] = NDWI
features

C:\Users\user\AppData\Local\Temp\ipykernel_8932\4056754692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['NDWI'] = NDWI

,b1_Landsat,b2_Landsat,b3_Landsat,b4_Landsat,b5_Landsat,b6_Landsat,b7_Landsat,NDVI,EVI,NDWI
6203,9778,11813,12860,8560,8718,8195,8111,0.009145,-0.347166,-0.191955
8451,11758,15041,14109,9137,9208,8527,8434,0.003870,-0.886749,-0.210190
1392,10973,13302,14336,9395,9347,8481,8166,-0.002561,-0.376759,-0.210657
1786,11339,13778,13108,9268,9221,8583,8393,-0.002542,-1.335885,-0.174079
9194,11126,13373,11879,9297,9057,8419,8189,-0.013076,0.898712,-0.134792
...,...,...,...,...,...,...,...,...,...,...
10588,10115,12283,13955,8788,8858,7932,7616,0.003967,-0.310209,-0.223425
8195,9129,10963,12860,8334,8617,7928,7755,0.016695,-0.265805,-0.197560
2597,9334,11179,13101,8526,8788,8089,7896,0.015132,-0.267106,-0.197040
11564,8696,10079,12074,8064,8332,7780,7681,0.016345,-0.262280,-0.183377
10042,9775,11517,11900,8643,8724,8257,8108,0.004664,-0.483845,-0.153995

**Normalization**

In [167]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

scaler.fit(features)
X = scaler.transform(features)

scaler.fit(labels)
Y = scaler.transform(labels)

X.shape, X , Y.shape , Y

((5000, 10),
 array([[0.21886296, 0.28478376, 0.42273068, ..., 0.73669572, 0.8000752 ,
         0.43653956],
        [0.43575419, 0.52927365, 0.53985371, ..., 0.68190434, 0.7984171 ,
         0.37763655],
        [0.34976449, 0.39756116, 0.56114029, ..., 0.61509318, 0.79998427,
         0.37612663],
        ...,
        [0.17022675, 0.23676437, 0.44533008, ..., 0.79889787, 0.80032122,
         0.42011463],
        [0.10033958, 0.15344997, 0.34902476, ..., 0.81150087, 0.80033605,
         0.46424587],
        [0.21853434, 0.26236461, 0.33270818, ..., 0.69015012, 0.7996552 ,
         0.55915526]]),
 (5000, 1),
 array([[0.12791117],
        [0.38345633],
        [0.06988792],
        ...,
        [0.04292899],
        [0.2026192 ],
        [0.11139448]]))

**Test & Train data dedication**

In [183]:
x_train=X[0:4000,:]
y_train=Y[0:4000]

x_test=X[4000:,:]
y_test=Y[4000:]

In [186]:
y_test.shape

(1000, 1)

**Decission Tree model training**

In [189]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
model= clf.fit(x_train,y_train)

**Predicition**

In [209]:
y_pred = model.predict(x_test)

**MSE for Decission Tree**

In [192]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test,y_pred)

0.052957104164716516

**MAE for Decission Tree**

In [193]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test , y_pred)

0.1670473837172754

**R2_Score for Decission Tree**

In [194]:
from sklearn.metrics import r2_score
r2_score(y_test , y_pred)

-0.7096868988131375

**Explained Variance Score for Decission Tree**

In [203]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_pred)

-0.708067032725161

**Random Forest model training**

In [213]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor()
clf.fit(x_train, y_train)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

**Prediction**

In [214]:
y_pred = model.predict(x_test)

**MSE for Random Forest**

In [215]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test,y_pred)

0.052957104164716516

**MAE for Random Forest**

In [216]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test , y_pred)

0.1670473837172754

**R2_Score for Random Forest**

In [217]:
from sklearn.metrics import r2_score
r2_score(y_test , y_pred)

-0.7096868988131375

**Explained Variance Score for Random Forest**

In [218]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_pred)

-0.708067032725161

**SVM model training**

In [221]:
from sklearn.svm import SVR
regressor = SVR()
model = regressor.fit(x_train,y_train)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

**Prediction**

In [222]:
y_pred = model.predict(x_test)

**MSE for SVM**

In [223]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test,y_pred)

0.023141212851988235

**MAE for SVM**

In [224]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test , y_pred)

0.11312888549536462

**R2_Score for SVM**

In [225]:
from sklearn.metrics import r2_score
r2_score(y_test , y_pred)

0.2529004548165842

**Explained Variance Score for SVM**

In [226]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_pred)

0.2580800678578272

**Gradient Boosting model training**

In [229]:
from sklearn.ensemble import GradientBoostingRegressor
regressor = GradientBoostingRegressor()
model = regressor.fit(x_train,y_train)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

**Prediction**

In [230]:
y_pred = model.predict(x_test)

**MSE for Gradient Boosting**

In [231]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test,y_pred)

0.022500710731126455

**MAE for Gradient Boosting**

In [232]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test , y_pred)

0.11322764841203377

**R2_Score for Gradient Bossting**

In [234]:
from sklearn.metrics import r2_score
r2_score(y_test , y_pred)

0.2735786641328144

**Explained Variance Score for Gradient Boosting**

In [233]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_pred)

0.27360003857671533